# sudo modprobe iptable_filter

name: suite-ci

# ssh-keygen -t rsa -b 4096 -m PEM -f ./session_signing_key
# ssh-keygen -t rsa -b 4096 -m PEM -f ./tsa_host_key
# ssh-keygen -t rsa -b 4096 -m PEM -f ./worker_key

services:
  db:
    image: docker.io/postgres:18.1
#     shm_size: 1gb
    environment:
      POSTGRES_USER: atc
      POSTGRES_PASSWORD: postgres
      POSTGRES_HOST_AUTH_METHOD: trust # for healthcheck
      PGDATA: /pgdata
    volumes:
      - "./pgdata:/pgdata"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U atc -d atc"]
      interval: 3s
      timeout: 3s
      retries: 5
  web:
    image: docker.io/concourse/concourse:8.0
    command: web
    restart: on-failure
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.concourse.rule=Host(`concourse.l.joern19.de`)"
      - "traefik.http.routers.concourse.entrypoints=web,websecure"
      - "traefik.http.services.concourse.loadbalancer.server.port=8080"
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - "./concourse-keys:/concourse-keys"
    environment:
      CONCOURSE_SESSION_SIGNING_KEY: /concourse-keys/session_signing_key
      CONCOURSE_TSA_AUTHORIZED_KEYS: /concourse-keys/worker_key.pub
      CONCOURSE_TSA_HOST_KEY: /concourse-keys/tsa_host_key
      CONCOURSE_LOG_LEVEL: debug
      CONCOURSE_POSTGRES_HOST: db
      CONCOURSE_POSTGRES_USER: atc
      CONCOURSE_POSTGRES_PASSWORD: postgres
      CONCOURSE_EXTERNAL_URL: http://concourse.l.joern19.de
      CONCOURSE_ADD_LOCAL_USER: admin:admin,guest:guest
      CONCOURSE_MAIN_TEAM_LOCAL_USER: admin
      CONCOURSE_CLUSTER_NAME: dev
      CONCOURSE_ENABLE_CACHE_STREAMED_VOLUMES: "true"
      CONCOURSE_ENABLE_RESOURCE_CAUSALITY: "true"
      CONCOURSE_ENABLE_PIPELINE_INSTANCES: "true"
      CONCOURSE_ENABLE_ACROSS_STEP: "true"
  worker:
    image: docker.io/concourse/concourse:8.0
    command: worker
    privileged: true
    cgroup: host
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=0
    depends_on: [web]
    volumes:
      - "./concourse-keys:/concourse-keys"
    stop_signal: SIGUSR2
    environment:
      CONCOURSE_RUNTIME: containerd
      CONCOURSE_TSA_PUBLIC_KEY: /concourse-keys/tsa_host_key.pub
      CONCOURSE_TSA_WORKER_PRIVATE_KEY: /concourse-keys/worker_key
      CONCOURSE_LOG_LEVEL: debug
      CONCOURSE_TSA_HOST: web:2222
      CONCOURSE_BIND_IP: 0.0.0.0
      CONCOURSE_BAGGAGECLAIM_BIND_IP: 0.0.0.0
      CONCOURSE_BAGGAGECLAIM_DRIVER: naive
      # work with docker-compose's dns
      CONCOURSE_CONTAINERD_DNS_PROXY_ENABLE: "true"
  traefik:
    image: docker.io/traefik:v3.6.7
    security_opt:
      - no-new-privileges:true
    command:
      - "traefik"
      - "--api=true"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--entrypoints.websecure.http.tls=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.network=proxy"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.myapi.rule=Host(`kaboom.l.joern19.de`) && PathPrefix(`/api`)"
      - "traefik.http.routers.myapi.service=api@internal"
      - "traefik.http.routers.myapi.entrypoints=web,websecure"
      - "traefik.http.routers.mydashboard.rule=Host(`kaboom.l.joern19.de`) && PathPrefix(`/`)"
      - "traefik.http.routers.mydashboard.service=dashboard@internal"
      - "traefik.http.routers.mydashboard.entrypoints=web,websecure"
    ports:
      - 80:80
      - 443:443
    volumes:
      - "/run/user/1000/podman/podman.sock:/var/run/docker.sock:z"
